<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="fri_gpio_config">
    <gpio name="gpio">
      <command_interface data_type="boolean" name="MediaFlange.LEDBlue">
        <param name="initial_value">0</param>
      </command_interface>
      <!-- <command_interface data_type="boolean" name="MediaFlange.LEDRed">
        <param name="initial_value">0</param>
      </command_interface> -->
      <command_interface data_type="boolean" name="MediaFlange.LEDGreen">
        <param name="initial_value">1</param>
      </command_interface>
      <command_interface data_type="boolean" name="MediaFlange.OutputX3Pin1">
        <param name="initial_value">0</param>
      </command_interface>
      <command_interface data_type="boolean" name="MediaFlange.OutputX3Pin11">
        <param name="initial_value">0</param>
      </command_interface>
      <command_interface data_type="boolean" name="MediaFlange.OutputX3Pin12">
        <param name="initial_value">0</param>
      </command_interface>
      <state_interface data_type="boolean" name="MediaFlange.UserButton"/>
      <state_interface data_type="boolean" name="MediaFlange.LEDRed"/>
    </gpio>
  </xacro:macro>
</robot>
